.users {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 1000px;
    align-items: center;
    border: 1px solid black;
}
* {
    margin: 0;
}
:root {
    background-image: url("https://i.pinimg.com/originals/47/55/58/47555821639f976984bef4371ec30bdf.jpg");
    background-repeat: no-repeat;
    background-size: 100vw 100vh;
}


:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper {
    clear: both;
    width: 1000px !important;
}

.none {
    opacity: 0;
    height: 0;
    top: -20px;
}


@keyframes shake {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(-10px);
    }
    40%, 80% {
        transform: translateX(10px);
    }
}

.shake {
    animation: shake 0.05s steps(10) infinite; /* Уменьшили время одного цикла анимации */
}

.shake-active {
    animation: shake 0.05s steps(10) infinite; /* Уменьшили время одного цикла анимации */
    animation-duration: 0.5s; /* Общая длительность анимации остается 2 секунды */
    animation-iteration-count: 1;
}

.table {
    margin-top: 100px;
}