.users {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 1000px;
    align-items: center;
    border: 1px solid black;
}
* {
    margin: 0;
}
.container {
    /*border: 1px solid black;*/
    display: flex;
    flex-direction: column;
}
:root {
    background-color: gray;
}


:where(.css-dev-only-do-not-override-j9bb5n).ant-table-wrapper {
    clear: both;
    width: 1000px !important;
}

.hub {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scale: 1.5;
    margin: 50px auto;
}
.form {
    background-color: white;
    width: 700px;
    padding: 20px 5px;
    border-radius: 15px;
    margin: 10% auto;
}

.alertError {
    position: absolute;
    top: 20px;
    left: 35%;
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
    color: #721c24;
    background-color: #f8d7da;
    width: 400px;
    padding: 5px 2px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    opacity: 1;
    transition: 1s;
}
.alertError>p {
    scale: 2;
}
.alertError>div>h3 {
    margin: 0;
    font-size: 25px;
}

.alertError>div>p {
    margin: 0;
    font-size: 15px;
}

.alertError>button {
    border: none;
    background: none;
    cursor: pointer;
    margin-top: 8px;
    margin-left: 40px;
    scale: 1.2;
}

.none {
    opacity: 0;
    height: 0;
    top: -20px;
}